<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Did you know that pepper is a silent killer...">
    
    <link rel="icon" href="{{url_for("static", filename="tinbanpep.png")}}">
    
    <link rel="stylesheet" href="{{url_for("static", filename="materialize/css/materialize.min.css")}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="{{url_for("static", filename="styles.css")}}" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Tinubu Places Ban on Fresh Pepper in Nigeria</title>
</head>
<body class="black" id="body">
    
    <header>
           <nav class="nav-wrapper navbar black z-depth-0">
            <a class="left brand-logo">
                <img src="static/4gnews.png" alt="" width="100px" height="70px">
            </a>
            <a href="#" class="right dropdown-trigger hide-on-med-and-up" data-target="dd"><i class="material-icons">menu</i></a>
        </nav>

    </header>
    
    <main>
        
        <div class="container">
            <div class="row">
                
               
                
                <div class="col s12 top-margin">
                    <h3 class="bebas-500 white-text">President Tinubu Bans Fresh Pepper in Nigeria</h3>
                    <img src="static/pepper.jpeg" alt="" class="responsive-img introimg waves-effect " width="100%">
                </div>
                
                <div class="col s12 top-margin">
                    <p class="flow-text white-text rubik-300">
                        In a move that has sent shockwaves across the nation, President Bola Ahmed Tinubu has announced a nationwide ban on all fresh peppers. The unprecedented directive, issued in a late-night press conference that many initially mistook for a comedy skit, cites national security and economic stability as the primary reasons.
                    </p>
                    
                    <div class="card black top-margin">
                        <blockquote class="card-body rubik-300 white-text">
                             "For too long, we have been a people blinded by pepper. It is in our stew, our soup, our jollof. We cannot see straight! Our national decisions have been too hot, too hasty, too… peppery. Enough is enough. It is time for national coolness."
                           
                        </blockquote>
                        
                        <div class="card-footer right">
                              <cite class="white-text bebas-100">- President Bola Ahmed Tinubu<br><span class="rubik-300"></cite>
                        </div>
                    </div>
                    <br>
                    
                    <p class="top-margin white-text flow-text rubik-300">
                        The ban, officially called the “National Anti-Irritant and Sensory De-escalation Bill (NAISD),” aims to promote a more "calm and reflective" national psyche. According to a presidential aide who spoke on the condition of anonymity while eating a lukewarm plate of rice and stew, the government believes the constant intake of pepper is responsible for the country’s high-pressure political instability and economic degradation.
                    </p>
                    
                    <p class="top-margin white-text flow-text rubik-300">
                        
                        The law prohibits the production, consumption and distribution of fresh pepper. Anyone caught in buying or selling of Fresh pepper will be liable to face 6 months imprisonment. The Department of State Services (DSS) reported that several "pepper-dealers" have already been detained and are awaiting trial. 
                    </p>
                    
                    <p class="top-margin white-text flow-text rubik-300">
                        In a final twist, the President’s last statement during the press conference hinted his intention to end the cries of Nigerians
                    </p>
                      <div class="card black top-margin">
                        <blockquote class="card-body rubik-300 white-text">
                             "I want to ensure that the cries of Nigerians come to an end!. So tomorrow, we will ban Onions"
                           
                        </blockquote>
                        
                        <div class="card-footer right">
                              <cite class="white-text bebas-100">- President Bola Ahmed Tinubu<br><span class="rubik-300"></cite>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </main>
    
    <footer class="page-footer black">
        
        <div class="container">
            <div class="row">
                
                <div class="col s12">
                    <h5 class="bebas-500">Follow Us</h5>
                    <ul class="social-items">
                        <li><a href="#" class="btn-floating white black-text"><i class="fa fa-facebook black-text"></i></a></li>
                        <li><a href="#" class="btn-floating white black-text"><i class="fa fa-instagram black-text"></i></a></li>
                        <li><a href="#" class="btn-floating white black-text"><i class="fa fa-youtube black-text"></i></a></li>
                        <li><a href="#" class="btn-floating white black-text"><i class="fa fa-twitter black-text"></i></a></li>
                        <li><a href="#" class="btn-floating white black-text"><i class="fa fa-telegram black-text"></i></a></li>
                    </ul>
                </div>
                
                <div class="col s12 center top-margin">
                    <span class="white-text bebas-200">© 4GNew$ 2025</span>
                </div>
                
            </div>
        </div>
        
    </footer>
    
    <script src="{{url_for("static", filename="materialize/js/materialize.min.js")}}"></script>
    <script src="{{url_for("static", filename="index.js")}}"></script>
</body>
</html>